<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- The providerName is being misappropriated and instead using for determing the DatabaseObjects.ConnectionType value used required for the custom unit test extension: DatabaseObjects.UnitTestExtensions.DatabaseTestExtensionExecution -->
    <add name="SQLServerTestDatabase" providerName="SQLServer" connectionString="provider=sqloledb;data source=localhost; initial catalog=TestDatabase; integrated security=sspi"/>
    <add name="MySQLTestDatabase" providerName="MySQL" connectionString="Driver={MySQL ODBC 5.1 Driver}; Server=localhost; Database=TestDatabase; UID=root; PWD=root;"/>
  </connectionStrings>
</configuration>
