<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
		<!-- 
			The providerName is being misappropriated and instead using for determing the DatabaseObjects.ConnectionType value used. 
			It can also be appended (separated by a semi-colon) with a type that implements IDbConnection as an alternative to using an ODBC or OLEDB driver.
			Both are utilised by the custom unit test extension: DatabaseObjects.UnitTestExtensions.DatabaseTestExtensionExecution
			-->
		<add name="SQLServerTestDatabase" providerName="SQLServer" connectionString="provider=sqloledb;data source=localhost; initial catalog=TestDatabase; integrated security=sspi"/>
		<add name="MySQLTestDatabase" providerName="MySQL" connectionString="Driver={MySQL ODBC 5.1 Driver}; Server=localhost; Database=TestDatabase; UID=root; PWD=root;"/>
		<add name="SQLiteTestDatabase" providerName="SQLite;System.Data.SQLite.SQLiteConnection, System.Data.SQLite" connectionString="Data Source=TestDatabase.db3;Pooling=false"/>
  </connectionStrings>
</configuration>
