<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQLServerTestDatabase" connectionString="provider=sqloledb;datasource=localhost; initial catalog=TestDatabase; integrated security=sspi"/>
    <add name="MySQLTestDatabase" connectionString="Driver={MySQL ODBC 5.1 Driver}; Server=localhost; Database=TestDatabase; UID=root; PWD=root;"/>
  </connectionStrings>
</configuration>
